
<div class="m-4">
  <div *ngIf="!loading && cartProducts.length==0">
    <div class="d-flex flex-column align-content-center  flex-wrap no-reuslts">
      <div class="m-3">No Products added to cart</div>
      <div > <a class="link" [routerLink]="['/app','products']">Go back</a> to product catalog</div>
    </div>
  </div>
  <div *ngIf="!loading && cartProducts.length !== 0">
    <div>Cart</div>
      <app-product-catalog [products]="cartProducts" [fromCart]="true"></app-product-catalog>
      <div><span>Total Price: ₹{{totalAmount}}</span></div>
      <div class="d-flex flex-wrap justify-content-end p-4">
        <button class="btn btn-primary" (click)="pay()">Pay</button>

      </div>
  </div>


</div>
